@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Urbanist&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');

:root {
    --primary-color: #452c0d;
    --secondary-color: #F39B2A;
    --accent1-color: #FAEC7C;
    --accent2-color: #ff9500;
    --heading-font:'Urbanist', Sans Serif;
    --paragraph-font:'Montserrat', Sans Serif;
    --nav-background-color: #FAEC7C;
    --fieldset-color: darkgray;
    --nav-hover-link-color: #240703;
    --nav-hover-background-color: #ffffff;
}

body {
    font-family: var(--paragraph-font);
    text-align: center;
    margin: 0 auto;
    padding: 0px;
    max-width: 960px;
    color: var(--primary-color);
}

header {
    display: grid;
    grid-template-columns: 40% 60%;
    padding: 20px;
    width: auto;
    background-color: var(--accent2-color);
    font-size: large;
}

header img {
    grid-column: 1/2;
}

nav {
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    align-items: center;
    grid-column: 2/3;
}

nav a {
    font-family: var(--paragraph-font);
    color: var(--primary-color);
}

nav a:hover, button:hover {
    color : var(--nav-hover-link-color);
    background-color : var(--accent1-color);
}

.box {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    padding: 20px;
    width: auto;
    background-color: var(--accent1-color);                 
}

figure img {
   max-width: 120px;   
}

.hero {
    position: relative;
    margin-top: 20px;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    color: var(--primary-color);
    top: 10px;
    left: 400px;
    background-color: var(--secondary-color);
 }

.hero article {
    position: absolute;
    top: 50%;
    left: 400px;
    background-color: var(--accent2-color);
    opacity: .8;
}

.hero article img {
    float: right;
    width: 50%;
}

.hero p {
    font-weight: bold;
    font-size: large;
    color: var(--primary-color);
    margin: 50px 10px 10px 10px;
}

h1, h2, h3, h4 {
    font-family: var(--heading-font);
    color: var(--accent2-color);
}

h2 {
    display: grid;
    padding: 20px;
    width: auto;
    background-color: var(--primary-color);
}

.history p {
    display: grid;
    padding: 20px;
    width: auto;
    background-color: var(--accent1-color);    
}

form {
    display: grid;
    margin: 0 auto;
    padding: 1rem;    
    background-color: var(--primary-color);
    margin-top: 20px; 
    width: 700px;             
}

fieldset {
    display: grid;
    grid-gap: 0.5rem;
    margin: 1rem;
    border: 2px solid var(--fieldset-color);
    padding: 2rem;
    color: var(--accent1-color);    
}

legend {
    padding: 0.5rem;
    color: var(--secondary-color);
    font-size: 1.3em;       
}

label {
    text-align: right;
    padding-right: 1rem;
}

button {
    margin: 1rem;
    background-color: var(--accent2-color);
    color: var(--primary-color);
    border: none;
    border-radius: 5rem;
    padding: 0.75rem;
    font-size: 1.2rem;      
}

.interest {
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    align-items: center;    
}

.contact, .comments {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-gap: 1rem;          
}

.employee, .location {
    background-color: var(--accent1-color);     
}

.employee {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    width: auto;         
}

.trips {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: .5rem;  
    margin: 0 auto;
    padding: 1rem;    
    background-color: var(--primary-color);
    margin-top: 20px; 
    width: 800px;    
    position: relative;            
}

.trips a:link, a:visited {
    background-color: var(--accent2-color);
    color: var(--primary-color);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

.trips img {
    width: 100%;
	height: 100%;
	object-fit: cover;  
}

.rapids1 h3 {
    position: absolute;
	top: 400px;
	right: 100px;
	background: var(--primary-color);
	border: var(--secondary-color);
	padding: 2rem;
    font-size: 1.5rem;
	opacity: 0.8;
 }

.rapids3 h3 {
    position: absolute;
	top: 1220px;
	right: 100px;
	background: var(--primary-color);
	border: var(--secondary-color);
	padding: 2rem;
    font-size: 1.5rem;
	opacity: 0.8;
 }

.rapids4 h3 {
    position: absolute;
	top: 2020px;
	right: 100px;
	background: var(--primary-color);
	border: var(--secondary-color);
	padding: 2rem;
    font-size: 1.5rem;
	opacity: 0.8;
 }

.rapids5 h3 {
    position: absolute;
	top: 2830px;
	right: 100px;
	background: var(--primary-color);
	border: var(--secondary-color);
	padding: 2rem;
    font-size: 1.5rem;
	opacity: 0.8;
 }

.one, .three, .four, .five {
    margin: 0 auto;
    padding: 1rem;    
    background-color: var(--accent1-color);
    text-align: left;
}



footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: var(--paragraph-font);
    margin-top: 1rem;
    border-top: 2px solid #A54C40;
}

.sociallinks {
    display: flex;
    justify-content: end;       
}

a:link {
    text-decoration: none;
}
